<div class="insert-page">
  <div class="title-container">
    <img src="../../../assets/keevo-purple-icon.png" />
    <h1>Cadastrar Item</h1>
  </div>

  <div class="form-container">
    <form #formItem="ngForm">
      <div class="form-group">
        <div class="input-group">
          <label for="description">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="item.description"
            #description="ngModel"
            minlength="3"
            required
          />
          <div
            *ngIf="
              description.errors && (description.dirty || description.touched)
            "
            class="alert"
          >
            <div [hidden]="!description.errors.required">
              Digite a descrição.
            </div>
            <div [hidden]="!description.errors.minlength">
              A descrição deve conter ao menos 3 caracteres.
            </div>
          </div>
        </div>

        <div class="input-group">
          <label for="measureUnit">Unidade de medida</label>
          <select
            class="form-control"
            id="measureUnit"
            name="measureUnit"
            [(ngModel)]="item.measureUnit"
            #measureUnit="ngModel"
            minlength="1"
            required
          >
            <option value="">Selecione uma unidade</option>
            <option value="Unidade">Unidade</option>
            <option value="Kilograma">Kilograma</option>
            <option value="Grama">Grama</option>
            <option value="Litro">Litro</option>
            <option value="Metro cúbico">Metro cúbico</option>
            <option value="Metro quadrado">Metro quadrado</option>
            <option value="Unidade">Metro</option>
          </select>

          <div
            *ngIf="
              measureUnit.errors && (measureUnit.dirty || measureUnit.touched)
            "
            class="alert"
          >
            <div [hidden]="!measureUnit.errors.required">
              Escolha a unidade de medida.
            </div>
          </div>
        </div>

        <div class="input-group">
          <label for="quantity">Quantidade</label>
          <input
            type="number"
            class="form-control"
            id="quantity"
            name="quantity"
            [(ngModel)]="item.quantity"
            #quantity="ngModel"
            min="0"
            required
          />
          <div
            *ngIf="quantity.errors && (quantity.dirty || quantity.touched)"
            class="alert"
          >
            <div [hidden]="!quantity.errors.required">Digite a quantidade.</div>
            <div [hidden]="!quantity.errors.min">
              A quantidade deve ser maior ou igual a 0.
            </div>
          </div>
        </div>

        <div class="form-buttons">
          <a class="btn" (click)="closePage(false)">Cancelar</a>

          <input
            type="submit"
            class="btn btn-success"
            (click)="insert()"
            value="Cadastrar"
            [disabled]="!formItem.form.valid"
          />
        </div>
      </div>
    </form>
  </div>
</div>
